$fonts: 'Titillium Web', sans-serif;
$white_bg: azure;
$white_accent: rgb(199, 199, 199);
$pink_bg: rgb(231, 207, 205);
$pink_accent: rgb(215, 176, 172);
$black_bg: rgb(71, 71, 71);
$black_accent: rgb(35,31,32);
$red_bg: rgb(187,68,48);
$red_accent: rgb(130,48,33);
$blue_bg: rgb(0, 183, 255);
$blue_accent: rgb(13, 88, 158);

/*---LAYOUT---*/
:root{
    font-family: $fonts;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: $black_accent;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-track{
    background: black; 
}
::-webkit-scrollbar-thumb{
    background: $black_bg; 
}
::-webkit-scrollbar-thumb:hover{
    background: $black_accent;
} 

body{
    
    #nav-items{
        display: flex;
        flex-direction: row;
        
        h1#web-title{
            text-align: center;
            color: $white_bg;
        }
        
        button#nav-button{
            margin: 12px;
            height: 35px;
            background-color: $black_bg;
            border-style: none;
            border-radius: 12px;
        }
        
        a#nav-link{
            color: $red_bg;
            
        }
        a#nav-link:hover{
            color: $white_accent;
        }
    }

}
/*---LAYOUT---*/


/*---INDEX---*/
ul{
    background-color: $black_accent;
    color: $red_accent;
    list-style: none;

    li{
        padding: 10px;
        font-size: 25px;
    }

    
    button{
        margin: 35;
        border-style: none;

    }
}
/*---INDEX---*/
