$fonts: 'Titillium Web', sans-serif;
$white_bg: azure;
$white_accent: rgb(199, 199, 199);
$pink_bg: rgb(231, 207, 205);
$pink_accent: rgb(215, 176, 172);
$black_bg: rgb(126, 119, 121);
$black_accent: rgb(35,31,32);
$red_bg: rgb(187,68,48);
$red_accent: rgb(130,48,33);
$blue_bg: rgb(0, 183, 255);
$blue_accent: rgb(13, 88, 158);

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.dark_theme{
    //background-color: rgb(26, 25, 25);
    background-image: url("./wallpaper_dark.jpg");
    font-family: $fonts;
    nav{
        width: 100%;
        border: 2px solid $black_accent;
        box-shadow: 0px 4px $red_bg;
        .navbar-brand{
            background-color: $black_bg;
            padding: 5px;
            border-radius: 10px;
            transition: 200ms;
        }
        .navbar-brand:hover{
            background-color: blanchedalmond;
        }
        #light_button:hover{
            background-color: $blue_bg;
        }
    }
    .content-title{
        color: $pink_bg;
        text-align: center;
        margin: 12px;
        padding: 12px;
    }
    table{
        align-self: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 80%;
        .hour{
            color: $red_bg;
        }
        tr,td{
            border: 1px solid $black_accent;
            border-collapse: collapse;
            text-align: center;
            margin: 2px;
            padding: 2px;
        }
        th{
            color: $black_bg;
            font-weight: bolder;
        }
        td{
            color: $pink_accent;
            font-weight: bold;
        }
        a{
            color: $red_bg;
            transition: 300ms;
        }
        a:hover{
            color: $black_accent;
        }
    }    
}

.light_theme{
    background-image: url("./wallpaper_light.jpg");
    background-color: rgb(231, 222, 222);
    font-family: $fonts;
    nav{
        width: 100%;
        border: 2px solid $white_accent;
        box-shadow: 0px 4px $blue_accent;
        .navbar-brand{
            background-color: $white_accent;
            padding: 5px;
            border-radius: 10px;
            transition: 200ms;
        }
        .navbar-brand:hover{
            background-color: $black_bg;

        }
    }

    .content-title{
        color: $blue_accent;
        text-align: center;
        margin: 12px;
        padding: 12px;
    }
    
    table{
        align-self: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 80%;
        .hour{
            color: $blue_bg;
        }
        tr,td{
            border: 1px solid $white_accent;
            border-collapse: collapse;
            text-align: center;
            margin: 2px;
            padding: 2px;
        }
        th{
            color: $blue_bg;
            font-weight: bolder;
        }
        td{
            color: $black_bg;
            font-weight: bold;
        }
        a{
            color: $blue_accent;
            transition: 300ms;
        }
        a:hover{
            color: $white_accent;
        }
    }    
}

@media only screen and (max-width: 720px){

    .content-title{
        font-size: 35px;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    tr,td{
        font-size: 10px;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-track{
    background: black; 
}
::-webkit-scrollbar-thumb{
    background: $black_bg; 
}
::-webkit-scrollbar-thumb:hover{
    background: $black_accent;
} 
