* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.dark_theme {
  background-image: url("./wallpaper_dark.jpg");
  font-family: "Titillium Web", sans-serif;
}

.dark_theme nav {
  width: 100%;
  border: 2px solid #231f20;
  -webkit-box-shadow: 0px 4px #bb4430;
          box-shadow: 0px 4px #bb4430;
}

.dark_theme nav .navbar-brand {
  background-color: #7e7779;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.dark_theme nav .navbar-brand:hover {
  background-color: blanchedalmond;
}

.dark_theme nav #light_button:hover {
  background-color: #00b7ff;
}

.dark_theme .content-title {
  color: #e7cfcd;
  text-align: center;
  margin: 12px;
  padding: 12px;
}

.dark_theme table {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
}

.dark_theme table .hour {
  color: #bb4430;
}

.dark_theme table tr, .dark_theme table td {
  border: 1px solid #231f20;
  border-collapse: collapse;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.dark_theme table th {
  color: #7e7779;
  font-weight: bolder;
}

.dark_theme table td {
  color: #d7b0ac;
  font-weight: bold;
}

.dark_theme table a {
  color: #bb4430;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.dark_theme table a:hover {
  color: #231f20;
}

.light_theme {
  background-image: url("./wallpaper_light.jpg");
  background-color: #e7dede;
  font-family: "Titillium Web", sans-serif;
}

.light_theme nav {
  width: 100%;
  border: 2px solid #c7c7c7;
  -webkit-box-shadow: 0px 4px #0d589e;
          box-shadow: 0px 4px #0d589e;
}

.light_theme nav .navbar-brand {
  background-color: #c7c7c7;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.light_theme nav .navbar-brand:hover {
  background-color: #7e7779;
}

.light_theme .content-title {
  color: #0d589e;
  text-align: center;
  margin: 12px;
  padding: 12px;
}

.light_theme table {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
}

.light_theme table .hour {
  color: #00b7ff;
}

.light_theme table tr, .light_theme table td {
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

.light_theme table th {
  color: #00b7ff;
  font-weight: bolder;
}

.light_theme table td {
  color: #7e7779;
  font-weight: bold;
}

.light_theme table a {
  color: #0d589e;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.light_theme table a:hover {
  color: #c7c7c7;
}

@media only screen and (max-width: 720px) {
  .content-title {
    font-size: 35px;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  tr, td {
    font-size: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #7e7779;
}

::-webkit-scrollbar-thumb:hover {
  background: #231f20;
}
/*# sourceMappingURL=styles.css.map */